

h1 {
  text-align: center;
}

.color {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  display: inline-block;
}

#black {
  background-color: black;
}

#red {
  background-color: red;
}

#green {
  background-color: green;
}

#blue {
  background-color: blue;
}

#pixel-board {        
  display: block;
    
} 

.pixel {
  width: 40px;
  height: 40px;
  border: 1px solid black;
 /* display: table-cell; */
  display: table-cell; 
  background-color: rgb(255, 255, 255);
  
}    

.botoes {
  margin-top: 10px;
  margin-bottom: 10px;
}
